<br>
<div class="container theme-showcase" role="main">

    <div class="jumbotron" style="text-align: center">
        <canvas id="myCanvas" width="1000" height="500">
        </canvas>
        <p>
            <button type="button" class="btn btn-xs btn-primary" (click)="clear()">Clear</button>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
         <rect></rect>
    </div>
    <div class="col-md-4">
        <ul class="list-group">
            <cerc></cerc>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="list-group">
            <line></line>
        </ul>
    </div>
</div>
