<h3>Add LINE !</h3>
<div class="form-group">
    <label>X1 :</label>
    <input type="number" class="form-control" [(ngModel)]="newLine.x1">
</div>
<div class="form-group">
    <label>Y1 :</label>
    <input type="number" class="form-control" [(ngModel)]="newLine.y1">
</div>
<div class="form-group">
    <label>X2 :</label>
    <input type="number" class="form-control" [(ngModel)]="newLine.x2">
</div>
<div class="form-group">
    <label>Y2 :</label>
    <input type="number" class="form-control" [(ngModel)]="newLine.y2">
</div>
<button class="btn btn-default" (click)="addLine()">Add Line</button>
<br>
<br>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let line of lines">
        <div *ngIf="!line.update">
            Start Point : ({{line.x1}},{{line.y1}}) End Point : ({{line.x2}},{{line.x2}})
            <button type="button" class="btn btn-xs btn-danger" (click)="removeLine(line)">Delete</button>
            <button type="button" class="btn btn-xs btn-info" (click)="updateLine(line)">Update</button>
            <button type="button" class="btn btn-xs btn-success" (click)="drawLine(line)">Draw</button>
        </div>
        <div *ngIf="line.update">
            <div class="form-group">
                <label>X1 :</label>
                <input type="number" class="form-control" [(ngModel)]="line.x1">
            </div>
            <div class="form-group">
                <label>Y1 :</label>
                <input type="number" class="form-control" [(ngModel)]="line.y1">
            </div>
            <div class="form-group">
                <label>X2 :</label>
                <input type="number" class="form-control" [(ngModel)]="line.x2">
            </div>
            <div class="form-group">
                <label>Y2 :</label>
                <input type="number" class="form-control" [(ngModel)]="line.y2">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-xs btn-info" (click)="updateLineV(line)">Update</button>
            </div>
        </div>
    </li>
</ul>
<button type="button" class="btn btn-xs btn-info" (click)="drawAllLine()">Draw ALL LINES !</button>